{
  "presets": [
    ["@babel/preset-env", { "modules": false }]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    ["prismjs", {
      "languages": [
        "markup",
        "clike",
        "c",
        "cpp",
        "css",
        "javascript",
        "ruby"
      ],
      "plugins": ["line-numbers"],
      "css": true
    }]
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["@babel/preset-env"],
      "plugins": [
        "@babel/plugin-transform-modules-commonjs",
        "@babel/plugin-proposal-class-properties",
        "babel-plugin-dynamic-import-node"
      ]
    }
  }
}
